<footer class='footer'>
  <div class="content has-text-centered">
    <nav class="level">
      <div class="level-item has-text-centered">
        <%= link_to t('contacts.title'), contacts_path %>
      </div>
    </nav>
    <div>
      &copy; 2023. Finding Fish Book
    </div>
  </div>
</footer>
