<section class="hero is-light">
  <div class="container">
    <div class="content">
      <div class="mt-3 mb-3">
        <h2><%= t('aquarium_maps.index.chubu') %></h2>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-mobile is-multiline">
      <% @aquariums.each do |aquarium| %>
        <div class="column is-half">
          <div class="content">
            <h4><%= link_to aquarium.name, aquarium_path(aquarium), data: { turbo: false } %></h4>
            <ul>
              <li>
                <p><%= aquarium.address %></p>
              </li>
              <li>
                <p><%= link_to t('defaults.aquarium.website'), aquarium.website %></p>
              </li>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
  </div>
</section>
