<section class="section">
  <div class="container">
    <div class="is-pulled-left">
      <h1 class="title"><%= t('activerecord.models.aquarium') %></h1>
    </div>
    <div class="is-pulled-right">
      <%= link_to t('aquarium_maps.index.title'), map_path, class: "button is-info is-outlined" %>
    </div>
  </div>
</section>
<section class="section">
  <%= render partial: 'search' %>
  <div class="container">
    <turbo-frame id="aquarium-list">
      <%= render partial: 'aquarium' %>
    </turbo-frame>
  </div>
</section>
