<section class="hero is-light">
  <div class="container">
    <div class="content">
      <div class="mt-3 mb-3">
        <h2><%= t('contacts.title') %></h2>
      </div>
    </div>
  </div>
  <div class="box mx-4">
    <div class="field my-6">
      <div class="content has-text-centered">
        <h4>アプリに関するお問い合わせやご意見、不具合のご報告がございましたら、以下までご連絡いただけますと幸いです。</h4>
      </div>
      <div class="content has-text-centered is-medium">
        <i class="fa-brands fa-x-twitter"></i>
        <%= link_to 'https://twitter.com/findingfishbook', 'https://twitter.com/findingfishbook', class: 'has-text-link' %>
      </div>
    </div>
  </div>
</section>
