.map-background-image {
  background-image: url("map_japan.png");
  height: calc(100vh - 134px);
  position: relative;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
