.card.is-shady.top {
  display: flex;
  flex-direction: column;
  min-height:340px;
}

.card-content.top {
  flex-grow: 1;
}

#top-image-icon {
  color: #fc8081;
}

#top-fish-icon {
  color: #609fd7;
}

#top-aquarium-icon {
  color: #ffc702;;
}
