<section class="section">
  <div class="container">
    <h1 class="title"><%= t('activerecord.models.fish') %></h1>
    <div class="columns is-multiline">
      <%= render partial: 'fish', collection: @fishes %>
    </div>
  </div>
</section>
